.header
  = render "review/partial/header"

.common
  - breadcrumb :business
  = render "review/partial/title"

.business
  .business__content
    .business__content__title
      %h3 事業内容
    .business__content__description
      %p 
        購入から売却まですべてのプロセスに
        %br
          ご満足頂けるようトータルでサポートさせて頂きます。
  %ul.business__list
    %li.num_01
      .inner
        .inner__right
          .inner__right__white
            %h4
              %span
                %em ONE ROOM CONSULTING
              ワンルームマンション売買
            %p
              大阪市中心地に特化した弊社ならではの豊かな購入・売却ノウハウで完全サポート。正確な市場価格をお伝えし、お客様に最適なプランをご案内致します。
            .button
              = link_to "お問い合わせはこちら" ,review_contact_path , class: "button__a"
    %li.num_02
      .inner
        .inner__left
          .inner__left__white
            %h4
              %span
                %em TOWER CONSULTING
              タワーマンション売買
            %p
              大阪市「北区・中央区・西区」の立地に特化した物件を
              %br
                ご提案致します。
            .button
              = link_to "お問い合わせはこちら" ,review_contact_path , class: "button__a"
    %li.num_03
      .inner
        .inner__right
          .inner__right__white
            %h4
              %span
                %em NEW APARTMENT MANAGMENT
              新築アパート経営
            %p
              アパート経営を始めるにあたり、最も重要なポイントは
              %br
              「立地条件」です。
              %br
                弊社では地元や大手の不動産会社と連携し良質な物件を
              お客様にお届けします。
            .button
              = link_to "お問い合わせはこちら" ,review_contact_path , class: "button__a"