.header
  = render "review/partial/header"

.common
  - breadcrumb :company
  = render "review/partial/title"

.company
  .company__top
    .company__top__image
      = image_tag "company3.jpg", class: "company_image"
      .company__top__image__discription
        .company__top__image__discription__title
          %span お都会の空でも、故郷だろう。
        .company__top__image__discription__president-name
          %span 代表取締役　　須田　英明
        .company__top__image__discription__sentence
          %p 夕暮れチャイムが 聞こえるころこころは
          %p その胸はなにを思うだろう
          %p おはようもおかえりもこの街にあるきみの住んでいる 積水ハウス
          %p その駅降りれば 生まれた街(まち)にぎわう道をゆくひとも店も
          %p みんな生きている 笑ってる
          %p ふと見上げればきみの住んでいる 積水ハウス
          %p 都会の空でも ふるさとだろすべてを懐かしく いつか思うだろう
          %p ぼくたちは この街が やっぱり好きできみの住んでいる 積水ハウス
          %p ぼくたちは この街が やっぱり好きできみの住んでいる 積水ハウス
    .company__top__discription
      .company__top__discription__title
        %span 都会の空でも、故郷だろう。
      .company__top__discription__president-name
        %span 代表取締役　　須田　英明
      .company__top__discription__sentence
        %p 夕暮れチャイムが 聞こえるころこころは
        %p その胸はなにを思うだろう
        %p おはようもおかえりもこの街にある
        %p きみの住んでいる 積水ハウス
        %p その駅降りれば 生まれた街(まち)
        %p にぎわう道をゆくひとも店も
        %p みんな生きている 笑ってる
        %p ふと見上げればきみの住んでいる 積水ハウス
        %p 都会の空でも ふるさとだろすべてを懐かしく
        %p いつか思うだろう
        %p ぼくたちは この街が やっぱり好きで
        %p きみの住んでいる 積水ハウス
        %p ぼくたちは この街が やっぱり好きで
        %p きみの住んでいる 積水ハウス
  .company__content
    .company__content__photos
      .company__content__photos__up
        = image_tag "house.jpg"
        = image_tag "person.jpg"
      .company__content__photos__down
        = image_tag "kitchen.jpg"
        = image_tag "bill.jpg"
    .company__content__info
      %span.company__content__info__title About RORO
      %ul
        %li.company__content__info__list
          .company__content__info__list__title
            %span 会社名
          .company__content__info__list__detail
            %p 株式会社RORO
        %li.company__content__info__list
          .company__content__info__list__title
            %span 代表者
          .company__content__info__list__detail
            %p 須田　英明
        %li.company__content__info__list
          .company__content__info__list__title
            %span 設立日
          .company__content__info__list__detail
            %p ２０１９年３月１日
        %li.company__content__info__list
          .company__content__info__list__title
            %span 資本金
          .company__content__info__list__detail
            %p ５００万
        %li.company__content__info__list
          .company__content__info__list__title
            %span 事業内容
          .company__content__info__list__detail
            %p 収益物件の企画・販売・コンサルティング事業
        %li.company__content__info__list
          .company__content__info__list__title
            %span 免許
          .company__content__info__list__detail
            %p 大阪府知事　(1)第６１１６２号
        %li.company__content__info__list
          .company__content__info__list__title
            %span E-MAIL
          .company__content__info__list__detail
            %p info@ro-ro.org
        %li.company__content__info__list
          .company__content__info__list__title
            %span TEL
          .company__content__info__list__detail
            %p 080-1469-9754
        %li.company__content__info__list
          .company__content__info__list__title
            %span FAX
          .company__content__info__list__detail
            %p 06-6684-9654
  %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.224679468274!2d135.49257421517692!3d34.67427849214066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e7050117f3dd%3A0x6689e74874c6d1ed!2z44CSNTUwLTAwMTQg5aSn6Ziq5bqc5aSn6Ziq5biC6KW_5Yy65YyX5aCA5rGf77yR5LiB55uu77yR77yX4oiS77yR77yQ!5e0!3m2!1sja!2sjp!4v1584023554123!5m2!1sja!2sjp" frameborder="0")
