.confirm
  .confirm__form
    = form_for @contact, :url => review_done_path do |f|
      %h2 メッセージの確認
      .confirm__form__group
        %strong 名前
        .confirm__form__group__box
          .confirm__form__group__box__text
            = f.hidden_field :name
            = @contact.name
      .confirm__form__group
        %strong メールアドレス
        .confirm__form__group__box
          .confirm__form__group__box__text
            = f.hidden_field :mail
            = @contact.mail
      .confirm__form__group
        %strong 電話番号
        .confirm__form__group__box
          .confirm__form__group__box__text
            = f.hidden_field :phone
            = @contact.phone
      .confirm__form__group
        %strong お問い合わせ内容
        .confirm__form__group__box
          .confirm__form__group__box__text#src
            = f.hidden_field :content
            = @contact.content
      = f.submit '戻る', name: 'back', id:'submit-button'
      = f.submit '送信する', id:'submit-button'