.confirm
  .contact__pan
    = form_for @contact, :url => done_path do |f|
      %h2 メッセージの確認
      .contact__pan__form-group
        %strong 名前
        .form-control
          .confirm-box
            = f.hidden_field :name
            = @contact.name
      .contact__pan__form-group
        %strong メールアドレス
        .form-control
          .confirm-box
            = f.hidden_field :mail
            = @contact.mail
      .contact__pan__form-group
        %strong 電話番号
        .form-control
          .confirm-box
            = f.hidden_field :phone
            = @contact.phone
      .contact__pan__form-group
        %strong お問い合わせ内容
        .form-control#content#scr
          .confirm-box#content-box
            = f.hidden_field :content
            = @contact.content
      = f.submit '戻る', name: 'back', id:'submit-button'
      = f.submit '送信する', id:'submit-button'