.menu
  = render "review/partial/menu"

.header
  = render "review/partial/header"

.common
  - breadcrumb :message
  = render "review/partial/title"

.message
  .message__box
    .message__box__left
      = image_tag "ceo.jpg", class: "", alt: "ビル群"
    .message__box__right
      .message__box__right__title
        %span 代表者挨拶
      .message__box__right__sentence
        %p 弊社は「不動産投資は王道の選択のみ」
        %p という経営理念のもと、2019年に会社を創業しました。
        %p お客様がより良い不動産投資の選択をできるよう
        %p 精一杯精進致します。
      .message__box__right__name
        %span 代表取締役　　須田　英明
        
= render "review/partial/footer"